@model List<MVCBlog.Models.ProductsViewModel>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<div id="fh5co-product">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>Cool Stuff</span>
                <h2>Products.</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 text-center animate-box">
                    <div class="product"> 
                            <div class="product-grid" style="background-image:url('@item.FirstImg');">
                                <div class="inner">
                                    <p>
                                        <a href="javascript:void(0)" class="icon"><i class="product-cart icon-shopping-cart" data-id="@item.Id" data-product="@item.ProductName" data-price="@item.Price" data-status="@item.Status" data-brand="@item.Brand"></i></a>
                                        <a href="@Url.Action("Details", "Products", new { id = item.Id })" class="icon"><i class="icon-eye"></i></a>
                                    </p>
                                </div>
                            </div>
                        <div class="desc">
                            <h3><a href="#">@item.ProductName</a></h3>
                            <span class="price">$@item.Price</span>
                        </div>
                    </div>
                </div>
            }
      
        </div>
    </div>
</div>

<script src="~/Scripts/addToCart.js"></script>
