@model MVCBlog.Data.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Posts", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control", @rows = "16" } })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Picture", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Picture" name="upload" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Tags", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="tag_select">
                    @if (ViewBag.Tags != null)
                    {
                        foreach (var tag in ViewBag.Tags)
                        {
                            <option value="@tag.Id" >@tag.TagName</option>
                        }
                    }                    
                </select>
                <span id="tags_choice"></span>      
                <input id="tags_val" type="text" name="tags" style="display:none"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $('#tag_select').on("change", function () {
            let currentTagVal = $('#tags_val').val();
            let currentTag = $('#tags_choice').text();
            let newTag = $("#tag_select option:selected").text();
            if (currentTag.indexOf(newTag) <= 0) {
                currentTag += " " + $("#tag_select option:selected").text();
                currentTagVal += $('#tag_select').val()+";";
                $('#tags_choice').text(currentTag);
                $('#tags_val').val(currentTagVal)
            }            
        });
    });
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

